.grid {
  display: grid;
  grid-template-rows: 5rem 0.6% 0.6%;
  grid-template-columns: 15rem auto auto;
  grid-template-areas:
    "header header header"
    "sidebar article article"
    "sidebar article article"
}

#article {
  grid-area: article;
  height: 80%;
}

#header {
  background: #0B1416;
  grid-area: header;
  color: white;
  height: 100%;
  padding: 0.5rem;
}

#sidebar {
  grid-area: sidebar;
  margin: 1rem;
}

#article-card {
  height: auto;
} */

#articles-title {
  padding: 1rem;
  margin-left: 2rem;
}

#article-card-image {
  height: 12rem;
  margin: 1rem;
} 

#comment-icon {
  height: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;	
}

* {
	box-sizing: border-box;
}

.b {
  text-align: right;
}

.container {
	height: 2.5rem;
}

button {
  padding:0.1em 0.1em;
  background-color:#ffffff;
  border:0;
  cursor:pointer;
}

#button-disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

#header-column {
  display: grid;
  grid-template-columns:  50% 50%;
}

#header-title {
    grid-column: 1 / 2;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#header-user {
  grid-column: 2 / 2;
  float: right;
  margin: 0rem;
  padding-right: 1rem;
  text-align: right;
}