#header {
  background: #0B1416;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex-center-align {
  display: flex;
  align-items: center;
}

.article-section {
  display: flex;
  justify-content: space-between;
}

#article-card-image {
  height: 12rem;
  margin: 1rem;
}

#comment-icon {
  height: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

* {
  box-sizing: border-box;
}

.b {
  text-align: right;
}

button {
  padding: 0.1em 0.1em;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

#button-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

#articles-title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting-text {
  grid-column: 2 / 2;
  max-width: 10rem;
  padding-top: 0.5rem;
}

.comment-body {
  margin: 0rem;
  padding: 0rem;
}

.centered-element{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-item-checked::after {
  position: absolute;
  margin-left: 0.25rem;
  content: '✓';
  font-weight: 600;
}

/* .offcanvas-parent {
  position: relative;
  overflow: hidden;

  .offcanvas {
    position: absolute;
  }
  .modal-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
  }
} */